.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    gap: 20px;

    .alreadyAccount {
      color: var(--textColor);
      font-size: 0.9rem;
      text-align: center;
      .link {
        color: var(--secondaryTextColor);
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }
}
