.card {
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 18px 0px rgb(66 71 76 / 5%);
  border: 1px solid var(--borderColor);
  cursor: pointer;
  height: fit-content;

  &:hover {
    .image {
      &::before {
        opacity: 1 !important;
      }
      img {
        transform: scale(1.05);
      }
    }
  }

  .imageLayout {
    // To fix parent height issue
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 12px;

    .image {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 10px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease 0s;
        border-radius: 10px;
        opacity: 0;
        z-index: 5;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease 0s;
        z-index: 1;
      }
    }

    .imageBottomSection {
      position: absolute;
      bottom: 12px;
      left: 12px;
      right: 12px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .price {
        background-color: var(--backgroundColor);
        padding: 3px 12px;
        border-radius: 6px;
      }

      .favoriteIcon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #0000009c;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease 0s;

        &:hover {
          background-color: var(--primaryColor);
        }
      }
    }
  }

  .name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 27px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--secondaryTextColor);
    font-size: 14px;
    font-weight: 400;
  }

  .infoGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 18px;

    .info {
      font-size: 14px;
      font-weight: 600;
      color: var(--secondaryTextColor);
      text-wrap: nowrap;

      i {
        margin-right: 8px;
      }
    }
  }
}
