.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 16px 18px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 2px;
  }
  .icon {
    margin: 0 16px 0 5px;
    position: relative;
  }
}

.primary {
  background-color: var(--primaryColor);
  color: var(--onPrimaryColor);
  &:not(:disabled):hover {
    background-color: var(--darkColor);
  }
}
.secondary {
  background-color: var(--secondaryColor);
  color: var(--textColor);
  &:not(:disabled):hover {
    background-color: var(--primaryColor);
    color: var(--onPrimaryColor);
  }
}
