@import '../../../../index.scss';

.filterBackdrop {
  display: none;
}

@media screen and (max-width: $mobileSize) {
  .filterBackdrop {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--darkColor);
    opacity: 0.5;
    z-index: 50;
    animation: opening 0.3s ease-in-out;

    @keyframes opening {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.5;
      }
    }

    &.closing {
      animation: closing 0.3s ease-in-out;

      @keyframes closing {
        0% {
          opacity: 0.5;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}

.filtersSidebar {
  width: 300px;
  height: fit-content;
  margin-right: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 4px #181a2012;
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  padding: 30px;

  .mobileHeader {
    display: none;
  }

  @media screen and (max-width: $mobileSize) {
    position: fixed;
    border-radius: 0;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    border-right: 1px solid var(--borderColor);
    z-index: 100;
    transition: transform 0.3s ease-in-out;

    &.shown {
      transform: none;
    }

    .mobileHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h1 {
        font-size: 18px;
        font-weight: 600;
      }

      i {
        color: var(--secondaryTextColor);
        font-size: 22px;
        transition: color 0.3s ease;
        cursor: pointer;

        &:hover {
          color: var(--textColor);
        }
      }
    }
  }

  .filtersSidebarSection {
    margin-bottom: 30px;

    .sectionTitle {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .checkbox {
      margin: 10px 0;
    }
  }

  .searchButton {
    width: 100%;
  }

  .undoButton {
    width: 100%;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: var(--secondaryTextColor);
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--textColor);
    }
  }

  // Slider
  .track {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--darkColor);
  }

  .trackBase {
    height: 5px;
    background: var(--borderColor);
  }

  .handle {
    width: 30px;
    height: 30px;
    margin-top: -12px;

    border-radius: 50%;
    background-color: var(--backgroundColor) !important;
    background-image: url(../../../../assets/range_slider_background.svg);
    background-repeat: no-repeat;
    background-position: center;

    border: 2px solid var(--darkColor) !important;
    opacity: 1;

    cursor: pointer;

    &:active {
      transform: scale(1.2);
      box-shadow: none !important;
    }
  }

  .priceValues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    font-weight: 600;
  }
}
