:root {
  --primaryColor: #ffa920;
  --onPrimaryColor: #fff;
  --secondaryColor: #fff5e0;
  --textColor: #1c1c1e;
  --secondaryTextColor: #8c8c8c;
  --borderColor: #e5e5ea;
  --backgroundColor: #fff;
  --secondaryBackground: #f7f7f7;
  --darkColor: #1c1c1e;
}
// SCSS variables
$mobileSize: 680px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', '';
  text-decoration: none;
}

a {
  color: var(--primaryColor);

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.content {
  padding: 30px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
  }
}
